PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE IF NOT EXISTS "migrations" ("id" integer primary key autoincrement not null, "migration" varchar not null, "batch" integer not null);
INSERT INTO migrations VALUES(1,'0001_01_01_000000_create_users_table',1);
INSERT INTO migrations VALUES(2,'0001_01_01_000001_create_cache_table',1);
INSERT INTO migrations VALUES(3,'0001_01_01_000002_create_jobs_table',1);
CREATE TABLE IF NOT EXISTS "users" ("id" integer primary key autoincrement not null, "name" varchar not null, "email" varchar not null, "email_verified_at" datetime, "password" varchar not null, "remember_token" varchar, "created_at" datetime, "updated_at" datetime);
INSERT INTO users VALUES(1,'Admin','admin@gmail.com',NULL,'$2y$12$6eqXeW7VJA/QgTHwFtLA7eMoeikdCWXPFvFVIHlGgpsVBrN/ph4l2',NULL,'2025-01-14 13:56:26','2025-01-14 13:56:26');
CREATE TABLE IF NOT EXISTS "password_reset_tokens" ("email" varchar not null, "token" varchar not null, "created_at" datetime, primary key ("email"));
CREATE TABLE IF NOT EXISTS "sessions" ("id" varchar not null, "user_id" integer, "ip_address" varchar, "user_agent" text, "payload" text not null, "last_activity" integer not null, primary key ("id"));
INSERT INTO sessions VALUES('ihq6SlHOXIU37Q0IxLKafMRkNOcx5oOy24gzWhtn',NULL,'127.0.0.1','Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:136.0) Gecko/20100101 Firefox/136.0','YTozOntzOjY6Il90b2tlbiI7czo0MDoiU0NFOFhKeVhCVlY2UTRoRXoxWTJaUlhmWHFaR1RET3o3ZThSQ1d4VSI7czo5OiJfcHJldmlvdXMiO2E6MTp7czozOiJ1cmwiO3M6NDE6Imh0dHA6Ly8xMjcuMC4wLjE6ODAwMC90b3VyL3RvdXItZGV0YWlscy82Ijt9czo2OiJfZmxhc2giO2E6Mjp7czozOiJvbGQiO2E6MDp7fXM6MzoibmV3IjthOjA6e319fQ==',1741812603);
INSERT INTO sessions VALUES('NF2vTjYnspftQxNDdg9sz56cJMKjsKyqJSXLe0Di',NULL,'127.0.0.1','Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/134.0.0.0 Safari/537.36','YTozOntzOjY6Il90b2tlbiI7czo0MDoicWJwbG54ckhyTjJKbzUxNWt6OEJwWFBSYnMwMXM4N2NzalBSMFpOYyI7czo5OiJfcHJldmlvdXMiO2E6MTp7czozOiJ1cmwiO3M6NDE6Imh0dHA6Ly8xMjcuMC4wLjE6ODAwMC90b3VyL3RvdXItZGV0YWlscy82Ijt9czo2OiJfZmxhc2giO2E6Mjp7czozOiJvbGQiO2E6MDp7fXM6MzoibmV3IjthOjA6e319fQ==',1741812271);
CREATE TABLE IF NOT EXISTS "cache" ("key" varchar not null, "value" text not null, "expiration" integer not null, primary key ("key"));
INSERT INTO cache VALUES('locations_suggestions_pak','a:5:{i:0;s:8:"Pakistan";i:1;s:23:"Pakenham VIC, Australia";i:2;s:13:"Paks, Hungary";i:3;s:11:"Pakse, Laos";i:4;s:23:"Pakur, Jharkhand, India";}',1739822040);
INSERT INTO cache VALUES('locations_suggestions_United','a:4:{i:0;s:13:"United States";i:1;s:14:"United Kingdom";i:2;s:20:"United Arab Emirates";i:3;s:28:"United States Virgin Islands";}',1739822048);
INSERT INTO cache VALUES('locations_suggestions_United Kind','a:3:{i:0;s:14:"United Kingdom";i:1;s:32:"United Kingdom House, London, UK";i:2;s:37:"United Kingdom Drive, Austin, TX, USA";}',1739822050);
CREATE TABLE IF NOT EXISTS "cache_locks" ("key" varchar not null, "owner" varchar not null, "expiration" integer not null, primary key ("key"));
CREATE TABLE IF NOT EXISTS "jobs" ("id" integer primary key autoincrement not null, "queue" varchar not null, "payload" text not null, "attempts" integer not null, "reserved_at" integer, "available_at" integer not null, "created_at" integer not null);
CREATE TABLE IF NOT EXISTS "job_batches" ("id" varchar not null, "name" varchar not null, "total_jobs" integer not null, "pending_jobs" integer not null, "failed_jobs" integer not null, "failed_job_ids" text not null, "options" text, "cancelled_at" integer, "created_at" integer not null, "finished_at" integer, primary key ("id"));
CREATE TABLE IF NOT EXISTS "failed_jobs" ("id" integer primary key autoincrement not null, "uuid" varchar not null, "connection" text not null, "queue" text not null, "payload" text not null, "exception" text not null, "failed_at" datetime not null default CURRENT_TIMESTAMP);
CREATE TABLE IF NOT EXISTS "personal_access_tokens" ("id" integer primary key autoincrement not null, "tokenable_type" varchar not null, "tokenable_id" integer not null, "name" varchar not null, "token" varchar not null, "abilities" text, "last_used_at" datetime, "expires_at" datetime, "created_at" datetime, "updated_at" datetime);
CREATE TABLE IF NOT EXISTS "car_features" ("id" integer primary key autoincrement not null, "created_at" datetime, "updated_at" datetime);
CREATE TABLE IF NOT EXISTS "car_brands" ("id" integer primary key autoincrement not null, "name" varchar not null, "created_at" datetime, "updated_at" datetime);
INSERT INTO car_brands VALUES(1,'Toyota',NULL,NULL);
INSERT INTO car_brands VALUES(2,'Honda',NULL,NULL);
INSERT INTO car_brands VALUES(3,'Ford',NULL,NULL);
CREATE TABLE IF NOT EXISTS "car_models" ("id" integer primary key autoincrement not null, "brand_id" integer not null, "name" varchar not null, "created_at" datetime, "updated_at" datetime, foreign key("brand_id") references "car_brands"("id") on delete cascade);
INSERT INTO car_models VALUES(1,1,'Corolla',NULL,NULL);
INSERT INTO car_models VALUES(2,1,'Camry',NULL,NULL);
INSERT INTO car_models VALUES(3,2,'Civic',NULL,NULL);
CREATE TABLE IF NOT EXISTS "car_fuels" ("id" integer primary key autoincrement not null, "type" varchar not null, "created_at" datetime, "updated_at" datetime);
INSERT INTO car_fuels VALUES(1,'Petrol',NULL,NULL);
INSERT INTO car_fuels VALUES(2,'Diesel',NULL,NULL);
INSERT INTO car_fuels VALUES(3,'Electric',NULL,NULL);
CREATE TABLE IF NOT EXISTS "car_transmissions" ("id" integer primary key autoincrement not null, "type" varchar not null, "created_at" datetime, "updated_at" datetime);
INSERT INTO car_transmissions VALUES(1,'Manual',NULL,NULL);
INSERT INTO car_transmissions VALUES(2,'Automatic',NULL,NULL);
INSERT INTO car_transmissions VALUES(3,'Continuously Variable',NULL,NULL);
CREATE TABLE IF NOT EXISTS "rooms" ("id" integer primary key autoincrement not null, "hotel_id" integer not null, "room_type" varchar not null, "facilities" text not null, "availability" datetime not null, "room_price" float not null, "adult" integer not null, "children" integer not null, "created_at" datetime, "updated_at" datetime, foreign key("hotel_id") references "hotels"("id"));
CREATE TABLE IF NOT EXISTS "hotel_bookings" ("id" integer primary key autoincrement not null, "first_name" varchar not null, "last_name" varchar not null, "email" varchar not null, "email_verified" tinyint(1) not null default '0', "phone_no" varchar not null, "phone_no_verified" tinyint(1) not null default '0', "identity_no" varchar not null, "gender" varchar check ("gender" in ('Male', 'Female', 'Other')) not null, "from_date" datetime not null, "to_date" datetime not null, "duration" varchar not null, "tour_location" varchar not null, "no_of_member" integer not null, "price" numeric not null, "created_at" datetime, "updated_at" datetime);
CREATE TABLE IF NOT EXISTS "drivers" ("id" integer primary key autoincrement not null, "name" varchar not null, "identity_no" varchar not null, "email" varchar not null, "gender" varchar check ("gender" in ('male', 'female', 'other')) not null, "contact_no" varchar not null, "license_no" varchar not null, "license_category" varchar not null, "experience" varchar not null, "profile_image" varchar, "created_at" datetime, "updated_at" datetime, "status" varchar not null default 'active', "car_id" integer);
INSERT INTO drivers VALUES(1,'Test','Test786','test54@gmail.com','male','367473646374','Test','test','5',NULL,'2025-01-27 14:51:49','2025-01-27 14:51:49','active',NULL);
INSERT INTO drivers VALUES(6,'Furqan Khalid','tetetw','xoxax60134@sc2hub.com','male','37647347364','63457637643','65736745','6','profile_images/dONP29WZdZOwAg78GnGQ3qOrWpUtrhiOSRUkXgv3.png','2025-01-29 07:54:56','2025-01-29 07:54:56','active',NULL);
CREATE TABLE IF NOT EXISTS "cars" ("id" integer primary key autoincrement not null, "car_name" varchar not null, "brand" varchar not null, "model" varchar not null, "fuel" varchar not null, "car_number" varchar not null, "transmission" varchar not null, "capacity" integer not null, "status" varchar not null default 'available', "price" numeric not null, "tags" varchar not null, "features" text, "car_images" text, "created_at" datetime, "updated_at" datetime);
INSERT INTO cars VALUES(2,'Car 2','Toyota','Corolla','Electric','Lhx545544','Automatic',5,'available',200,'Test,Test Tag','[{"name":"English","icon":"FaLanguage"},{"name":"Front","icon":"FaCarSide"}]','"[\"images\\\/Car\\\/VAZSwKPIw8Bsmqt9SBjU4JRZheFoV0O3U9qDPLDo.png\",\"images\\\/Car\\\/M0gyekvYTN4VkT4jt2pgpRFnhoLn28Iw8ExUrmpI.png\",\"images\\\/Car\\\/wSAJrdw1UVRvyxcUjZgTk3SRJhVqHbIuiLkTCv2u.png\",\"images\\\/Car\\\/4pDL6ZpNFlmbi2p5z76SqLCrp35FbwrotTpSuqkQ.png\",\"images\\\/Car\\\/rKiLz1NRzsZnUpPp2K73Ul1xLYerNp5Ot7Zrqk1Y.png\"]"','2025-02-11 14:32:25','2025-02-11 14:32:25');
CREATE TABLE IF NOT EXISTS "hotels" ("id" integer primary key autoincrement not null, "name" varchar not null, "description" text not null, "location" varchar not null, "food" varchar, "types" text, "facilities" text, "images" text, "created_at" datetime, "updated_at" datetime);
INSERT INTO hotels VALUES(4,'REdirect Test','This is For test Data','Location','Food','"[{\"name\":\"Test Wifi\",\"icon\":\"FaCheck\"}]"','"[{\"name\":\"Wifi\",\"icon\":\"FaSnowflake\"}]"','"[\"images\\\/Hotel\\\/liJSJsXtuJF3qMbCS0PiR6qVxOBvd7urGWroEztF.jpg\",\"images\\\/Hotel\\\/XAcMOgdGNvhwnWPGku3NiBLZM0w4IYe21fRP65mx.png\"]"','2025-02-13 07:31:07','2025-02-13 07:31:07');
INSERT INTO hotels VALUES(5,'REdirect Test','This is For test Data','Location','Food','"[{\"name\":\"Test Wifi\",\"icon\":\"FaCheck\"}]"','"[{\"name\":\"Wifi\",\"icon\":\"FaSnowflake\"}]"','"[\"images\\\/Hotel\\\/lv59HzPa1wF86bx5V2YnCvKWZNpmmTGMyqO0bmiK.jpg\",\"images\\\/Hotel\\\/YnvlOHJYZfy15jILcHbZcK72sV399u4beIWFNlaB.png\"]"','2025-02-13 07:31:41','2025-02-13 07:31:41');
INSERT INTO hotels VALUES(6,'Tet','This is The Data','Location','Food','"[{\"name\":\"Test\",\"icon\":\"FaCheck\"}]"','"[{\"name\":\"Wifi\",\"icon\":\"FaSnowflake\"}]"','"[\"images\\\/Hotel\\\/1xCBknfnSzD80Mwt64D26OjyQ4V3s63w8GVziUDQ.jpg\",\"images\\\/Hotel\\\/gM3ADqygtrb3UeDihcFILVDBkIxX5hRFUQoIxXJG.png\"]"','2025-02-13 07:33:36','2025-02-13 07:33:36');
CREATE TABLE IF NOT EXISTS "hotel_rooms" ("id" integer primary key autoincrement not null, "room_id" varchar not null, "room_type" varchar not null, "status" varchar not null, "price" integer not null, "persons" integer, "hotel_id" integer not null, "created_at" datetime, "updated_at" datetime, foreign key("hotel_id") references "hotels"("id") on delete cascade);
INSERT INTO hotel_rooms VALUES(3,'505253','Type','Yes',500,NULL,4,'2025-02-13 07:31:08','2025-02-13 07:31:08');
INSERT INTO hotel_rooms VALUES(4,'505253','Type','Yes',500,NULL,5,'2025-02-13 07:31:41','2025-02-13 07:31:41');
INSERT INTO hotel_rooms VALUES(5,'505253','Luxury','Yes',400,NULL,6,'2025-02-13 07:33:36','2025-02-13 07:33:36');
CREATE TABLE IF NOT EXISTS "tours" ("id" integer primary key autoincrement not null, "name" varchar not null, "duration" varchar not null, "location" varchar not null, "food" varchar not null, "tour_type" varchar not null, "persons" integer not null, "price" numeric not null, "tour_images" text not null, "summary" text not null, "facilities" text not null, "includedExcludedTypes" text not null, "condition" text not null, "tour_itinerary" text not null, "created_at" datetime, "updated_at" datetime);
INSERT INTO tours VALUES(6,'Test Tour','Duration','Delhi cantt railway Junction, Kirby Place, Delhi Cantonment, New Delhi, Delhi, India','Food','Type',5,5000,'"[\"images\\\/Tour\\\/pzKv7iEwm8uykgUcGtP0cuN4qSxrLug8ELpAE5EV.png\"]"','Summary','[{"name":"Wifi","icon":"FaSnowflake"}]','[{"name":"Include","icon":"FaCheck"}]','Condition','[{"day":"Data","image":{}}]','2025-02-24 18:26:33','2025-02-24 18:26:33');
INSERT INTO tours VALUES(7,'Test Data','2 Month','Murree Road, Waris Khan, Rawalpindi, Pakistan','Desi','type',5,10000,'"[\"images\\\/Tour\\\/9ZqrxHiLUfAS0OAgobIOoffH3o4BXIRCWkJah5ch.png\",\"images\\\/Tour\\\/H6VWV5hFnZOrK7sNvCVsnTZwAPJ4U8SRzdzTfJLn.jpg\"]"','This is the summary to test with.','[{"name":"Wifi","icon":"FaSnowflake"}]','[{"name":"Included","icon":"FaCheck"}]','This is the test condition which we want to meet','[{"day":"This is the Test Data","image":{}},{"day":"This is the Second DAy data","image":{}}]','2025-02-24 19:19:42','2025-02-24 19:19:42');
CREATE TABLE IF NOT EXISTS "bookings" ("id" integer primary key autoincrement not null, "first_name" varchar not null, "last_name" varchar not null, "email" varchar not null, "gender" varchar not null default 'male', "identification_number" varchar, "address" varchar not null, "city" varchar not null, "postal_code" varchar not null, "country" varchar not null, "payment_id" varchar not null, "created_at" datetime, "updated_at" datetime, "status" varchar not null default 'active');
INSERT INTO bookings VALUES(1,'Test user','Us','xoxax60193@sc2hub.com','female',NULL,'Rawalpindi Pakistan','Rawalpindi','42666','Paraguay','37864837434','2025-03-03 20:36:59','2025-03-03 20:36:59','active');
INSERT INTO bookings VALUES(2,'Test user','Us','xoxax60193@sc2hub.com','female',NULL,'Rawalpindi Pakistan','Rawalpindi','42666','Paraguay','37864837434','2025-03-03 20:38:53','2025-03-03 20:38:53','active');
INSERT INTO bookings VALUES(3,'Test user','Us','xoxax60193@sc2hub.com','male',NULL,'Rawalpindi Pakistan','Rawalpindi','42666','Paraguay','37864837434','2025-03-03 20:39:45','2025-03-03 20:39:45','active');
CREATE TABLE IF NOT EXISTS "booking_items" ("id" integer primary key autoincrement not null, "booking_id" integer not null, "name" varchar not null, "price" numeric not null, "additional_info" text not null, "created_at" datetime, "updated_at" datetime, "type" varchar not null default 'car', foreign key("booking_id") references "bookings"("id") on delete cascade);
INSERT INTO booking_items VALUES(1,2,'First Car',50,'"{\"pickup_location\":\"Lahore, Punjab, Pakistan\",\"dropout_location\":\"Islamabad, Pakistan\",\"pickup_date\":\"02-02-2024\",\"dropout_date\":\"03-03-2024\"}"','2025-03-03 20:38:54','2025-03-03 20:38:54','car');
INSERT INTO booking_items VALUES(2,3,'First Car',50,'"{\"pickup_location\":\"Lahore, Punjab, Pakistan\",\"dropout_location\":\"Islamabad, Pakistan\",\"pickup_date\":\"02-02-2024\",\"dropout_date\":\"03-03-2024\"}"','2025-03-03 20:39:45','2025-03-03 20:39:45','car');
INSERT INTO booking_items VALUES(3,4,'First Car',50,'"{\"pickup_location\":\"Lahore, Punjab, Pakistan\",\"dropout_location\":\"Islamabad, Pakistan\",\"pickup_date\":\"02-02-2024\",\"dropout_date\":\"03-03-2024\"}"','2025-03-03 20:50:25','2025-03-03 20:50:25','car');
DELETE FROM sqlite_sequence;
INSERT INTO sqlite_sequence VALUES('migrations',28);
INSERT INTO sqlite_sequence VALUES('users',1);
INSERT INTO sqlite_sequence VALUES('car_brands',21);
CREATE UNIQUE INDEX "users_email_unique" on "users" ("email");
CREATE INDEX "sessions_user_id_index" on "sessions" ("user_id");
CREATE INDEX "sessions_last_activity_index" on "sessions" ("last_activity");
CREATE INDEX "jobs_queue_index" on "jobs" ("queue");
CREATE UNIQUE INDEX "failed_jobs_uuid_unique" on "failed_jobs" ("uuid");
CREATE INDEX "personal_access_tokens_tokenable_type_tokenable_id_index" on "personal_access_tokens" ("tokenable_type", "tokenable_id");
CREATE UNIQUE INDEX "personal_access_tokens_token_unique" on "personal_access_tokens" ("token");
CREATE UNIQUE INDEX "drivers_email_unique" on "drivers" ("email");
COMMIT;
